*{
    line-height: 24px;
    font-size: 16px;
}

body{
    overflow-y: scroll;
}

footer ul li{
    padding: 0.2em;
    cursor:default;
}

footer ul{
    margin-top: 0.5em;
}

footer ul li a:hover
{
    color: black;
}

footer p{
    cursor: default;
}

footer a:hover
{
    color: rgb(255, 0, 0) !important;
}