/* Reset and Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    line-height: 24px;
    font-size: 16px;
}

body {
    overflow-y: scroll;
}

/* Footer Styles */
footer ul {
    margin-top: 0.5em;
}

footer ul li {
    padding: 0.2em;
    cursor: default;
}

footer ul li a:hover {
    color: black;
}

footer p {
    cursor: default;
}

footer a:hover {
    color: rgb(255, 0, 0) !important;
}

/* Logo Styles */
.navLogo {
    width: 75px;
}

.footerLogo {
    max-width: 200px;
}

/* Carousel Styles */
.carousel-md img {
    height: 380px;
}

/* Category Styles */
.categories-btn a {
    width: 150px;
    height: 40px;
}

/* Brand Image Styles */
.brand-img img {
    width: 175px;
    height: 125px;
}

/* List Group Styles */
.list-group-item-action.active {
    background-color: #DC3545;
    border: 0;
}

/* Spacing Utilities */
.spacing-mt {
    margin-top: 3em;
}

.spacing-mb {
    margin-bottom: 3em;
}

.spacing-my {
    margin-top: 3em;
    margin-bottom: 3em;
}

/* Card Styles */
.order-card {
    height: 15rem;
}

.order-product-img {
    height: 70px;
    width: auto;
}

.product-card {
    padding: 5px !important;
    margin: 0;
    width: 15rem !important;
    height: 27em !important;
}

.product-card button {
    margin-top: 10px;
    margin-bottom: 0;
    width: 100%;
}

.product-card h5 {
    height: 30px;
}

.product-card img {
    height: 220px;
    width: 100%;
}

.product-card-font {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
}

.product-card-icon {
    font-size: 24px;
}

.tab-overflow {
    height: 250px;
    overflow: auto;
    padding: 5px;
}

.clearMP {
    padding: 0;
    margin: 0;
}

/* Quantity Element Styles */
.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity {
    width: 30px;
    padding: 10px;
    text-align: center;
    border: none;
    font-size: 20px;
    background-color: white;
    margin: 0 5px;
}

.quantity-button {
    padding: 2px 10px;
    color: white;
    border: none;
    background-color: #DC3545;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quantity-button:hover {
    background-color: #B02A37;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #2D2D2D;
}

::-webkit-scrollbar-thumb {
    background: #DC3545;
}

/* Slider Styles */
.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: #DC3545;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 15px;
    background: #DC3545;
    cursor: pointer;
}

/* Star Review Styles */
#star-review .rating-group {
    display: inline-flex;
}

#star-review .rating-input {
    position: absolute !important;
    left: -9999px !important;
}

#star-review .rating-input-none {
    display: none;
}

#star-review .rating-label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 2rem;
}

#star-review .rating-icon-star {
    color: orange;
}

#star-review .rating-input:checked ~ .rating-label .rating-icon-star {
    color: #ddd;
}

#star-review .rating-group:hover .rating-label .rating-icon-star {
    color: orange;
}

#star-review .rating-input:hover ~ .rating-label .rating-icon-star {
    color: #ddd;
}

/* Responsiveness */
@media only screen and (max-width: 992px) {

    #navCategories {
        display: none !important;
    }

    #navCategories-sm {
        display: inline !important;
        order: 1;
        width: 12%;
    }

    #navNavigation {
        order: 6;
        display: none;
    }

    #navAccount {
        order: 3;
        width: 45%;
    }

    #navSearchbar {
        order: 4;
    }

    #navLogo {
        order: 2;
        width: 40%;
    }

    #footerIcos {
        text-align: center !important;
    }


    #createAccRight {
        height: fit-content !important;
    }

    #contactFunzies {
        order: 2;
    }

    #aboutFunzies {
        order: 1;
    }

    #iconDiamond {
        order: 1;
    }

    #forgotPassText {
        order: 2;
    }

    .sm-carousel {
        height: 220px !important;
    }

    #productCategories {
        display: none;
    }

    #sortProducts {
        order: 1;
    }

    #showDetails {
        order: 2;
    }

    #ReviewFormMessage {
        order: 1;
    }

    #reviewForm {
        order: 2;
    }

    .accountOptions {
        order: 2;
    }

    .account-sections {
        order: 1;

    }


}

@media only screen and (min-width: 993px) {

    #navNavigation {
        display: block;
    }

    #navCategories-sm {
        display: none;
    }


    #footerIcos {
        text-align: end !important;
    }

}