* {
    line-height: 24px;
    font-size: 16px;
}

body {
    overflow-y: scroll;
}

footer ul li {
    padding: 0.2em;
    cursor: default;
}

footer ul {
    margin-top: 0.5em;
}

footer ul li a:hover {
    color: black;
}

footer p {
    cursor: default;
}

footer a:hover {
    color: rgb(255, 0, 0) !important;
}

.navLogo {
    max-width: 100px;
}

.footerLogo {
    max-width: 200px;
}

.carousel-md img
{
    height:380px;
}

.categories-btn a
{
    width: 150px; 
    height: 40px;
}

.brand-img img
{
    width: 175px; 
    height: 125px;
}

.product-card div
{
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 15rem;
}


.product-card button
{
    margin-top: 10px;
    margin-bottom: 0;
    max-width: 100%;
    width: 100%;
}

.product-card h5
{
    height:30px;
}

.product-card img{
    height:220px; 
    width: 100%;
}

.product-card-font
{
    margin: 0;
    padding: 0;
    font-size:24px;
    font-weight:600;
    margin-top: 1em;
}

.product-card-icon
{
    font-size: 24px;
}

.div-spacing-mt
{
    margin-top: 3em;
}

.div-spacing-mb
{
    margin-bottom: 3em;
}

/* Responsiveness */
@media only screen and (max-width: 992px) {

    #navCategories {
        display: none !important;
    }

    #navCategories-sm {
        display: inline !important;
        order: 1;
        width: 12%;
    }

    #navNavigation {
        order: 6;
        display: none;
    }

    #navAccount {
        order: 3;
        width: 45%;
    }

    #navSearchbar {
        order: 4;
    }

    #navLogo {
        order: 2;
        width: 40%;
    }

    #footerIcos{
        text-align: center !important;
    }


    #createAccRight
    {
        height: fit-content !important;
    }

    #contactFunzies
    {
        order: 2;
    }

    #aboutFunzies
    {
        order: 1;
    }

    #iconDiamond
    {
        order: 1;
    }

    #forgotPassText{
        order: 2;
    }

}

@media only screen and (min-width: 993px) {

    #navNavigation {
        display: block;
    }

    #navCategories-sm {
        display: none;
    }

    
    #footerIcos{
        text-align: end !important;
    }

}



/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #2D2D2D;

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #DC3545;
    
  }

  

  

